html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(255,255,255,0.2)), url(./images/Gasai_yuno.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: stretch;
    background-position: top right;
    background-color: black;
    max-width: 75%;
    height: 100%;
    color: white;
    font-family: 'Monofett', monospace;
    margin: 0 auto;
}

#banner {
    text-align: center;
    height: 100%;
    font-family: 'Caveat', cursive;;
    font-size: 2.5rem;
    letter-spacing: 4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe h3 {
    text-align: center;
    color: black;
    font-size: 1.4rem;
}

.recipe {
    background-color: white;
    margin: 1rem;
    opacity: 0.9;
    min-width: 30%;
    border-radius: 10px;
}

.recipe img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recipe:hover {
    opacity: 0.75;
    cursor: pointer;
}


a, a:visited {
    text-decoration: none;
}